altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
exceptiongroup==1.2.1
idna==3.7
iniconfig==2.0.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
parameterized==0.9.0
pluggy==1.5.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
pytest==8.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
tk==0.1.0
tomli==2.0.1
tzdata==2024.1
urllib3==2.2.1
